html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0 auto;
    background-color: darkgray;
    li,h1,h2,h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a{
        font-family: Arial, Helvetica, sans-serif;
    }
}
.container{
    margin: 0 auto;
    width: 1140px;
}
.inicio{
    background-color: black;
    display: flex;
    height: 80px;
    position: relative;
    #logo{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}
.search-box:hover>.search-txt{
    width: 170px;
    padding: 0 5px;
}
.search-box:hover>.search-btn{
    background-color: none;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 83%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #66FCF1;
    border-radius: 40px;
    padding: 5px;
    .search-txt{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: #202833;;
        font-size: 15px;
        transition: 0.3s;
        line-height: 30px;
        width: 0px;
        
    }
    .search-btn{   
        color: white;
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #202833;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .btn-image{
            width: 18px;
            height: 18px;
        }
    }
}
nav{
    background: #202833;
}
nav::after{
    content:'';
    clear: both;
    display: table;
}
nav ul{
    padding: 0px;
    width: 100%;
    float: right;
    list-style: none;
    position: relative;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    background: #202833;
    justify-content: space-between;
    margin-left: 65px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 24px;
    padding: 8px 15px;
}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    z-index: 200;
}
nav ul ul li a{
    line-height: 50px;

}
nav ul li a:hover{
    color: cyan;
    border-radius: 8px;
    box-shadow: 0 0 5px #33ffff;

}
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 70px;
}
.PrimeiroFooter{
    background-color: #337A76;
    padding: 40px 30px 30px 40px;
    display: flex;
    justify-content: space-between;
    #logofooter{
        width: 60px;
        height: 60px;
        transform: translateX(130%);
    }
    .RedesSociais{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
.space{
    width: 210px;
    height: 120px;
}
.tags{
    width: 600px;
    height: 120px;
    .SpaceTag{
        justify-content: space-between;
        display: flex;
    }
    h2{
        color: white;
        font-size: 24px;
        margin: 0;
        margin-bottom: 15px;
    }
    .CaixaDaTag{
        width: 100px;
        background-color: rgba($color: #ffffff, $alpha: 0.2);
        font-size: 18px;
        h3{
            color: white;
            margin: 0;
            padding: 10px;
            text-align: center;
        }
    }
}
.SegundoFooter{
    background-color: #202833;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .descricao{
        width: 500px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
        }
        h3{
            margin: 0;
            margin-top: 10px;
            color: #444B55;
        }
    }
    .NaoSei{
        float: right;
        right: 10%;
        width: 125px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        .bolinhas{
            margin-top: 5px;
            width: 30px;
            height: 30px;
            background-color: #66FCF1;
            border-radius: 50%;
        }
    }
}
.soprater{
    height: 1200px;
    background-color: white;
    border: #000000 solid;
}
.main-home{
    width: 100%;
    height: 1000px;
    margin: 0;
    border: solid black 1px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0, 4px, 4px, black;
}
.noticias{
    h2{
        background-color: #66FCF1;
        width: 250px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        padding: 5px;
        position: absolute;
        left: 100px;
        margin: 0;
        top: 40px;
    }
    
}
.Artigos{
    width: 625px;
    height: 250px;
    position: absolute;
    margin: 0px;
}
#artigo-1{
    top: 120px;
    left: 10px; 
}
#artigo-2{
    top: 410px;
    left: 10px;
}
#artigo-3{
    top: 700px;
    left: 10px;
}
.p-news{
    background-color: #66FCF1;
    padding: 5px;
    width: 80px;
    margin: 0;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    z-index: 2;
}
.Artigos-noticias{
    margin: 0;
    z-index: 1;
    width: 600px;
    height: 235px;
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    background-color: #C6C2C2;
    padding: 5px;
    img{
        width: 225px;
        height: 225px;
        margin-right: 10px;
    }
    div{
        width: 370px;
        height: 215px;
        h3{
            background-color:rgba($color: #000000, $alpha: .7);
            padding: 5px;
            color: white;
            line-height: 22px;
            font-size: 20px;
            text-align: justify;
        }
        p{
            font-size: 14px;
            text-align: justify;
        }
    }
}
.propaganda{
    position: absolute;
    left: 700px;
    top: 100px;
}
